h1{
  font-family: Merienda;
  font-size: 70px;
  text-shadow: -4px 1px 0 #AFE0FF,
                5px 4px 0 #AFE0FF,
                5px -1px 0 #AFE0FF,
               -1px -1px 0 #AFE0FF;

}

h5{
	font-size: 25px

}

h4{
	font-size: 15px
}